@font-face {
	 font-family: 'MikadoBlack';
    src: url('../fonts/MikadoBlack.otf');
}
.logo{
	font-family: MikadoBlack;
}
/* The Modal (background) */
.modal {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.rowlightgreen{
	background-color: lightgreen;
}
.rowblue{
	background-color: blue;
	color:white;
}
.rowgray{
	background-color: gray;
	color:white;
}

.form-mention{
	display:inline;
}

.btn-mention{
	border:none;
	color:blue;
	background: none;
	padding:0;
}

/*----------------STICK FOOTER TO BOTTOM----------------*/
html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.wrapper {
  padding: 15px 35px 45px;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
  border-radius: 10px;

}
/*----------------END OF STICK FOOTER TO BOTTOM----------------*/

.btn-nostyle, .btn-delpost, .btn-like, .btn-unlike{
	background: none !important;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit !important;
	padding:0 !important;
}

.btn-delpost > i{
	font-size: 20pt;
}

.td-fit{
    white-space: nowrap;
    width: 1%;
}

.td-50{
	width:50%;
}

.img-center{
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

.btn-file {
	 position: relative;
	 overflow: hidden;
}
.btn-file input[type=file] {
	 position: absolute;
	 top: 0;
	 right: 0;
	 min-width: 100%;
	 min-height: 100%;
	 font-size: 100px;
	 text-align: right;
	 filter: alpha(opacity=0);
	 opacity: 0;
	 outline: none;
	 background: white;
	 cursor: inherit;
	 display: block;
}

.img-responsive{
	max-width: 300px;
	max-height: 300px;
}

.img-small{
	max-width: 100px;
	max-height: 100px;
}

.img-wrapper{
	width: 100px;
	height: 100px;
}
.img-wrapper-small{
	width: 50px;
	height: 50px;
}

.img-zoom {
    cursor: zoom-in;
}






.profile-picture-default{
	font-weight: 600;
	font-size: 72pt;
	padding: 30px;
	margin: 0 auto;
	display:block;
	width: 200px;
	height: 200px;
	background-color: gray;
	border-radius: 200px;
	color:white;
}
.profile-picture-default-small{
	width:100px;
	height: 100px;
	font-size: 36pt;
	padding: 15px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.profile-picture-50{
	max-width:50px !important;
	max-height: 50px !important;
	font-size: 10pt !important;
}

.profile-picture-40{
	max-width:40px !important;
	max-height: 40px !important;
	font-size: 10pt !important;
	padding: 10px !important;
}

.profile-picture-32{
	max-width:32px !important;
	max-height: 32px !important;
	font-size: 9pt !important;
	padding: 7px !important;
}


a.no-style {
    color:inherit !important;
    text-decoration:none;
}


.strikethrough{
	text-decoration: line-through;
}

.hr-slim{
	margin-top: 7px;
	margin-bottom: 7px;
}

.navbar{
	margin-bottom: 0;
}


.badge-notify{
	background:red;
	position:relative;
	top: -50px;
	left: 35px;
}

.badge-red{
	background:red;
}
.comment-reply{
	margin-right:20px;
	padding-left: 3px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.btn-reaction{
	font-size: 21pt;
}
